@import 'normalize-css/normalize';
@import 'font-awesome';
@import 'foundation.scss';
@import 'codemirror';

html {
  font-size: 16px;
}
// foundation overrides
body {
  line-height: normal;
  font-size: 1.125rem;
}
a {
  color: inherit;
  font-size: inherit;
}

h1 {
  color: inherit;
  font-size: 2.125rem;
  line-height: normal;
}
table {
  width: inherit;
}
