@import "foundation.scss";

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
    @media #{$small-only} {
        background:url("/images/Clear_Sky-small.jpg");
        background-size: cover;
    }
    @media #{$medium-up} {
        background:url("/images/Clear_Sky.jpg");
    }
    background-repeat: no-repeat;
    background-color: white;
}

.opendata-logo {
    display: inline-block;
    background:url("/images/Open_Data.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    height: 30px;
}

.clear-election {
    display: inline;
    font-family: serif, serif;
}

.clearelection-org {
    display: inline;
    font-family: monospace, monospace;
}

.contact-us {
    display: inline;
    %a { display: inline; }
    text-decoration: underline;
}
