@import 'compass/css3';

$header-height: 576px;
$checkmark-color: rgb(9,42,180);
$down-arrow-size: 32px;

#Header {
  width: 100%;
  height: $header-height;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  > .contents {
    display: inline-block;
    width: 800px;
    height: 100%;
    position: relative;
    color: white;
    text-shadow: 1px 1px 1px rgb(2,33,183);
  }
  .banner {
    position: relative;
    width: 100%;
    margin-top: 120px;
  }
  .check {
    position: absolute;
    top: -30px;
    left: 34%;
    background:url("/images/checkmark-blue.png");
    background-size: contain;
    background-repeat: no-repeat;
    height:100px;
    width:100px;
  }
  .title {
    font-size: 2.75rem;
    white-space: nowrap;
    margin-top: 30px;
    position: relative;
  }
  .subtitle {
    font-size: 1.5;
    white-space: nowrap;
    margin-top: 20px;
    position: relative;
  }
  #slogans {
    margin-top: 120px;
    font-size: 1.1rem;
    display: block;
    text-align: center;

    > div {
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
}

#HeaderTopBar {
  color: white;
  text-shadow: 1px 1px 1px rgb(2,33,183);
  white-space: nowrap;
  .button {
    top: 0; // foundation override
    margin-left: 30px;
    margin-right: 30px;
    background:0.65*$checkmark-color + 0.35*rgb(255,255,255); 
    position: relative;
    &.active {
      background: 0.75*$checkmark-color + 0.25*rgb(255,255,255);
      @include box-shadow (0 0 8px white);
    }
    &:hover {
      @include box-shadow (0 0 8px white);
    }
  }
  .top-bar {
    background:url("/images/Clear_Sky.jpg");
    background-position-x: 0;
    background-position-y: -$header-height;
    height: 18+$down-arrow-size;
    position: relative;
    .tab-down-arrow {
      background: url("/images/white-arrow-down-right.png");
      background-size: $down-arrow-size $down-arrow-size;
      position: absolute;
      width: $down-arrow-size;
      height: $down-arrow-size;
      top: 50%;
      margin-top: -6px;
      @include box-shadow(none);
      &.right-side {
        right: 2-$down-arrow-size;
      }
      &.left-side {
        left: 2-$down-arrow-size;
        @include scaleX(-1);
      }
    }
  }
  .logo {
      background:url("/images/checkmark-blue.png");
      width: 32px;
      height: 32px;
      background-size: 100% 100%;
      position: absolute;
      top: 6px;
      left: 6px;
      cursor: pointer;
      display: none;
  }
  &.fixed .logo {
      display: block;
  }
}
