@import 'compass/css3';

#MainContents {
  width: 100%;
  text-align: center;
  color: darkblue;
  background: white;
  padding-top: 20px;

  > section {

    h1 {
      padding-top: 20px;
      font-size: 30px;

      .question, .answer {
        display: inline;
      }
      .question{
        color: darkblue;
      }
      .answer {
        color: green;
        font-style: italic;
      }

    }

    article{
      width: 900px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 20px;
      padding-bottom: 40px;
      line-height: 1.5;
      text-align: justify;

      .p ~ .p {
        margin-top: 1rem;
      }
    }

    section ~ section {
      border-top: 4px solid rgb(75,138,235);
    }

    .TODO {
      color: grey;
      font-style: italic;
      &:before {
        content: "TODO -- ";
      }
      margin-top: 20px;
      margin-bottom: 20px;
    }



  }
}
