@import 'compass/css3';

$comment_color: rgba(0,128,0,0.85);
$arrow_size: 16px;

.sample.ballot {
    color: black;
    text-align: center;
    .checkbox {
        height:18px;
        width:18px;
        border: 1px solid black;
        &.checked {
            background:url("/images/checkmark-blue.png");
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    section.id {
        margin-top: 10px;
        display: table;
        margin-left: auto;
        margin-right: auto;
        table {
            border: none;
        }
        tr {
            background: white;
        }
        th {
            text-align: center;
            padding: 0;
        }
        td.id {
            text-align: center;
            font-family: monospace, monospace;
            white-space: nowrap;
            padding: 0;
            &.separator {
                padding-left: 10px;
                padding-right: 10px;
            }
            vertical-align: top;
        }
        table.uniquifiers {
            td {
                padding: 2px;
                padding-top: 0;
                text-align: center;
                vertical-align: middle;
            }
        }
    }
    .contest {
        display: inline-block;
        vertical-align: top;
    }
    .comment {
        .downarrow {
            display: inline-block;
            position: absolute;
            top: 50%;
            margin-top: -$arrow_size/2;
        }
        &.ballotid {
            width: 280px;
            left: -210px;
            top: 38px;
            @include rotate(-7deg);
            .arrow.right-side {
                @include rotate(-15deg);
                right: -$arrow_size/2;
                top: 12px;
            }
        }
        &.uniquifier {
            width: 220px;
            right: -132px;
            top: 64px;
            @include rotate(14deg);
            .arrow.left-side {
                @include transform(scaleX(-1) rotate(-25deg));
                left: -$arrow_size/2;
                top: 12px;
            }
        }
        &.slicker {
            @include rotate(-14deg);
            bottom: 18px;
            right: -200px;
            width: 180px;
            .arrow {
                @include transform(scaleX(-1) scaleY(-1) rotate(-25deg));
                left: -$arrow_size+2;
                top: 8px;
            }
        }
    }
}
