@import 'compass/css3';

$arrow_size: 16px;

.sample.returns {
  a.download {
    font-weight: bold;
    font-size: smaller;
    color: black;
    float: right;
    position: absolute;
    top: 4px;
    right: 8px;
  }
  .comment {
      &.slicker {
          width: 300px;
          left: -320px;
          top: 0;
          @include rotate(-7deg);
          .arrow {
              right: -$arrow_size;
              top: 50%;
              margin-top: -$arrow_size/2;
              @include rotate(-45deg);
          }
      }
      &.download {
          width: 220px;
          right: -220px;
          top: -14px;
          @include rotate(7deg);
          .arrow {
              left: -$arrow_size/2;
              top: 50%;
              margin-top: -$arrow_size/2;
              @include transform(scaleX(-1), rotateX(-45deg));
          }
      }
      &.uncorrelated {
          display: inline-block;
          left: 178px;
          bottom: 3px;
          .arrow {
              &.left-side {
                  @include scale(-1, -1);
                  left: -$arrow_size - 2;
                  top: -2px;
              }
              &.right-side {
                  @include scaleY(-1);
                  right: -$arrow_size - 3;
                  top: -2px;
              }
          }
      }
  }
  .tables: {
    white-space: nobreak;
  }
  .returns-table {
    display: inline-block;
    margin:8px;
    &.voter-roll {
      width: 300px;
    }
    &.ballots {
      width: 400px;
    }
    table {
      margin: 0;
      display: table;
      width: 100%;
      line-height: 1;
      caption {
        margin-bottom: 4px;
      }
      thead, tbody {
        float: left;
        width: 100%;
      }
      tbody {
        overflow: auto;
        height: 200px;
      }
      tr {
        width: 100%;
        display: table;
        text-align: left;
      }
      th,td {
        &.number { width: 40px; }
        &.ballot-id { width: 110px; max-width: 150px;}
        &.proposition { width: 80px; }
      }
      td.ballot-id {
        font-family: monospace, monospace;
      }
    }
  }
}
