#technical {
    height: 1200px;
    .forkme {
        position: fixed;
        top: 0;
        right: 0;
        width: 150px;
        z-index: 100;
    }

    dl, ul {
        padding-left: 20px;
        dt {
            &:after {
                content: ':'
            }
            float: left;
            clear: both;
        }

        &.properties {
            dt {
                width: 6em;
                font-family: monospace;
                font-size: larger;
                color: grey;
            }
            dd {
                margin-left: 6em;
            }
        }
        &.components {
            dt {
                width: 10em;
                font-weight: bold;
            }
            dd {
                margin-left: 10em;
            }
        }
    }

    .sdk a, .url {
        font-family: monospace;
        font-size: 0.875rem;
        i.fa {
            font-size: smaller;
        }
    }

    ol {
        padding-left: 20px;
    }

    .callout {
        text-align: center;
    }


}
