@import 'compass/css3';

#what {
  .quote {
    display: inline;
    color: crimson;
    font-style: italic;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .point {
    margin: 8px;
    text-align: center;
    color: green;
    font-size: 1.5rem;
  }

  .sample {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    .contents {
      display: inline-block;
      position: relative;
      @include border-radius(8px);
      border: 1px solid grey;
      padding: 12px;
      padding-bottom: 14px;
      @include box-shadow(2px 2px 3px rgba(0,0,0,0.75));
    }
    .caption {
      font-weight: bold;
      color: black;
      margin-bottom: 8px;
    }
  }

}
