@import 'compass/css3';
$comment_color: rgba(0,128,0,0.85);
$arrow_size: 16px;

#what {
  .quote,.concern {
    display: inline;
    color: crimson;
    font-style: italic;
    margin-left: 0.25em;
    margin-right: 0.25em;
  }

  .em {
      display: inline;
      font-style: italic;
    }

  .point {
    margin: 8px;
    text-align: center;
    color: green;
    font-size: 1.5rem;
  }

  .sample {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    .contents {
      display: inline-block;
      position: relative;
      @include border-radius(8px);
      border: 1px solid grey;
      padding: 12px;
      padding-bottom: 14px;
      @include box-shadow(2px 2px 3px rgba(0,0,0,0.75));
    }
    .caption {
      font-weight: bold;
      color: black;
      margin-bottom: 8px;
    }

    .comment {
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-style: italic;
        font-size: smaller;
        color: $comment_color;
        @include text-shadow(0 2px 2px #ffffff);
        position: absolute;
        .arrow {
            background: url("/images/green-arrow-down-right.png");
            background-size: $arrow_size $arrow_size;
            width: $arrow_size;
            height: $arrow_size;
            position: absolute;
        }
    }
  }

  .subpoints {
      display: table-row;
      width: 100%;
      .subpoint {
          display: table-cell;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-right: 20px;
          padding-left: 20px;
          width: 50%;
          .concern {
              margin-left: 0;
          }
      }
      &:first-child .subpoint { padding-top: 0 }
  }
  .subpoints + .p {
      margin-top: 20px;
  }

}
