@import 'compass/css3';

$up-arrow-size: 16px;

#what {
  .quote {
    display: inline;
    color: crimson;
    font-style: italic;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .point {
    margin: 8px;
    text-align: center;
    color: green;
    font-size: 1.5rem;
  }

  aside {
    display: none;
  }

  .returns {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    .contents {
      display: inline-block;
      position: relative;
      @include border-radius(8px);
      border: 1px solid grey;
      padding: 12px;
      padding-bottom: 14px;
      @include box-shadow(2px 2px 3px rgba(0,0,0,0.75));
    }
    .caption {
      font-weight: bold;
      color: black;
      margin-bottom: 8px;
    }
    .uncorrelated {
      position: absolute;
      white-space: nowrap;
      left: 160px;
      bottom: 0px;
      font-family: "Comic Sans MS", cursive, sans-serif;
      font-style: italic;
      color: rgba(0,128,0,0.85);
      .uparrow {
        display: inline-block;
        background: url("green-arrow-down-right.png");
        background-size: $up-arrow-size $up-arrow-size;
        width: $up-arrow-size;
        height: $up-arrow-size;
        @include scaleY(-1);
        &.left-side {
          @include scale(-1, -1);
        }

      }
    }
    .download {
      font-weight: normal;
      color: darkblue;
      font-style: italic;
      float: right;
      position: absolute;
      top: 4px;
      right: 8px;
    }
    .tables: {
      white-space: nobreak;
    }
  }
  .returns-table {
    display: inline-block;
    margin:8px;
    &.voter-roll {
      width: 300px;
    }
    &.ballots {
      width: 400px;
    }
    table {
      margin: 0;
      display: table;
      width: 100%;
      line-height: 1;
      caption {
        margin-bottom: 4px;
      }
      thead, tbody {
        float: left;
        width: 100%;
      }
      tbody {
        overflow: auto;
        height: 200px;
      }
      tr {
        width: 100%;
        display: table;
        text-align: left;
      }
      th,td {
        &.number { width: 40px; }
        &.ballot-id { width: 110px; max-width: 150px;}
        &.proposition { width: 80px; }
      }
      td.ballot-id {
        font-family: monospace, monospace;
      }


    }
  }
}
