%section


  %h1#FAQ-results Q. Who won?  Returns vs results

  %article

    .p
      The ClearElection model emphasizes the
      .em returns data,
      i.e., the ballot and voter lists, rather than the
      .em final results
      i.e. who won.

    .p
      One purpose of ClearElection is to allow anybody to examine the
      results data and come to their own conclusion as to what the final
      results should be.

    .p
      The "official" determination of the final results is part of the social
      contract of an election.  That contract includes the issue of who gets
      to make that determination, and whether the election may be challenged
      on some grounds aside from the data (e.g. unfair choice of candidates
      or voters, inappropriate poll open times, lack of access to approved
      voting apps, etc)--and if so what the mechanism is for such a
      challenge.  As such it is beyond the scope of ClearElection data.

    .p
      That said, in the future the ClearElection model may be updated to
      allow the final results to be added to the publicly accessible election
      data (along with some annotation as to the process which led to those
      results), just to keep that information available in perpetuity
      alongside the returns data.


  .TODO Q. Civic elections or private organizations?

  .TODO Q. What about vote buying or coercion?

  .TODO Q. Why doesn't everybody do this?

  .TODO Q. How much does this cost?

  .TODO Q. Who are you?

  .TODO Q. What's your business model?

  .TODO Q. Can I contribute?
