%section


  %h1#FAQ-results Q. Who won?  Returns vs results

  %article

    .p
      The ClearElection model emphasizes the
      .em returns data,
      i.e., the ballot and voter lists, rather than the
      .em final results,
      i.e. who won.

    .p
      Why not "who won"?  Because the "official" determination of the final
      results isn't always completely defined by the returns data.  Rather,
      it is part of the social contract of the election.  For example,
      there are questions such as how to resolve ties, who gets to decide
      that the results are officially correct, and whether the election
      returns may be challenged on some grounds (such as improper list of
      candidates, improper registry of voters, inappropriate poll times,
      lack of access to voting, etc...).  As such determining "who won" is
      beyond the scope of ClearElection data modeling.

    .p
      That said, in the future the ClearElection model may be updated to
      allow the final results to be added to the publicly accessible election
      data (along with some annotation as to the process which led to those
      results), just to keep that information available in perpetuity
      alongside the returns data.

  .TODO Q. Civic elections or private organizations?

  .TODO Q. What about vote buying or coercion?

  .TODO Q. What if people lie about errors?

  .TODO Q. Why doesn't everybody do this?

  .TODO Q. How much does this cost?

  .TODO Q. Who are you?

  .TODO Q. What's your business model?

  .TODO Q. Can I contribute?
