%section

  .TODO You can do it yourself, our technology isn't needed.

  .TODO You can do it with paper ballots or online tools.

  .TODO Here at clearelection.org we are developing tools and standards to streamline the process.  Tools that can be used for online elections or for paper ballots

  .TODO If you'd like to alpha-test our tools for your election, contact us.
