%section

  %h1 Election definition

  .TODO Standardize the contents of an election so that tools can examine it.   [JSON schema]
  
  .TODO Includes contest definitions, polling times, and (after polling closes) returns data

  .TODO For online elections, also includes information about the agents that handle the election (see below)

  .TODO Does not (currently) have any info about the look &amp; feel.

  .TODO We provide SDKs for convenient access and management.  (Currently only ruby)
     

%section

  %h1 Online Elections

  .TODO Agents &amp; Protocols

  .TODO Discussion of voter authentication


%section

  %h1 Open Source

  .TODO Discussion of open source philosophy.  Free/freemium for hosted service

  .TODO Call for contributors
