.forkme=partial 'forkme'

%section

  %h1 Election description

  %article

    .p
      An election is defined by a JSON file at some URI.  For example, see
      =succeed '.' do
        =partial 'codeview', locals: {modal_id: 'SimpleElectionModal', url: 'http://info.clearelection.org/examples/election0.json', contents: data.sample_election}
      An election definition includes, minimally:
    .p
      %dl
        %dt.prop schedule
        %dd
          The date &amp; time at which polls open, i.e. voting begins, and the 
          The date &amp; time at which polls close, i.e. voting ends.
        %dt.prop contests
        %dd The list of contests, each including the list of candidates and attributes about how to vote

        %dt.prop returns
        %dd (After the polls have closed) The returns data: voters and ballots.

        %dt.prop agents
        %dd (For an online election) The URIs for the signin and booth agents. See discussion below.

    .p(style='text-align:left;')
      The syntax is specified by the JSON schema at
      =partial 'codeview', locals: {modal_id: 'ElectionSchemaModal', url: 'http://schemas.clearelection.org/election-0.0.schema.json', contents: ClearElection::Schema.election(version: "0.0")}

    .p
      The election data is (mostly) static.  When the election's manager
      first posts the election to its URI, it should include all data
      (except the
      %span.prop returns
      data if the voting hasn't happened yet), and that data should never change.
      Once the polls close, the manager should add the complete
      %span.prop returns
      data as a single atomic change.  After that the
      election data should remain unchanged in perpetuity.


    .p 
      The election data is intended to be as simple and straightforward
      as possible.  Accordingly, the schema does not address the "look &amp;
      feel" of the election, i.e., no fonts or images or other styling info.
      Styling could be an ehnanced feature offered by third-party election
      tools.

    .p 
      We provide SDKs for convenient access and management:

      %ul.sdk
        %li
          %a(href="http://rubygems.org/gems/clear-election-sdk") clear-election-sdk
          ruby gem
        %li
          .TODO.inline JavaScript SDK including tallying
     

%section

  %article

    %h1 Online Elections

    .TODO Agents &amp; Protocols

    .TODO Discussion of voter authentication


%section

  %article

    %h1 Notes on Open Source

    .TODO Open source isn't necessary, since the results speak for themselves.

    .TODO But still doing this as an open source project for all the good reasons.

    .TODO Call for contributors

    .TODO Might develop freemium for hosted service, which might have non-open source for freemium features.

