%section

  %h1 In a Clear Election, the returns data are freely available on the web.

  %article
    = partial 'sample_returns'
    .p
      You may know this famous quote, apocryphally attributed to Joseph Stalin:
      .quote "Those who vote decide nothing.  Those who count the vote decide everything."
      In a Clear Election, anyone and everyone can count the votes, and confirm the results.

%section

  %h1 In a Clear Election, you confirm that your ballot was counted.

  %article
    = partial 'sample_ballot'
    .p
      In a typical election today, you cast your ballot and then wait to hear the results.
      .concern But how can you be sure your vote was really counted?
      In a Clear Election, you can easily check the returns data to make sure that your ballot is properly included.

%section

  %h1 In a Clear Election, the results can't be falsified

  %article
    .subpoints
      .subpoint
        .concern Are all the ballots real?
        In a Clear Election, you can see if there are more cast ballots than
        turned out voters.  And anyone who voted can check that their own ballot is correct.

      .subpoint
        .concern Are all the voters real?
        In a Clear Election, you can see who voted.  If necessary, you can
        follow up independently by checking their bona-fides.

    .subpoints

      .subpoint
        .concern Did some some ballots disappear?
        In a Clear Election, you can see if there are fewer cast ballots than
        turned-out voters.  And anyone who voted can see that their own ballot is included.

      .subpoint
        .concern Did some voters disappear?
        In a Clear Election, anyone who voted can verify their name is included in the turnout.

    .p
      If anything has gone amiss, the problem will be evident to voters
      and/or observers,  and if so the election might need to be declared
      invalid.   In a Clear Election, errors or malfeasance might
      .em disrupt
      an election, but can never cause a false outcome.

%section

  %h1 In a Clear Election, the returns data speaks for itself

  %article

    .p
      In a conducting typical election today, most attention focuses on the
      process or the technology for voting, leading to the question:
      .concern How can we trust that the election process &amp; mechanism don't allow cheating?
      In a Clear Election, you can verify the returns data regardless of
      what mechanism was used to gather it.

    .p
      Of course it's important to use a secure process
      and technology, to minimize the possibility of
      .em disruption
      and to maintain ballot secrecy.  But in a Clear Election, no matter what flaws the process might have (and they all do have flaws)
      we can always validate the returns data.

//%section
//
//  %h1 In a Clear Election, nobody can steal the election
//
//  %article
//
//    .TODO As long as voters check their ballots and as long as interested parties verify the voter roll, it's guaranteed that the resul

//%section
//
//  %h1 Can anything go wrong?
//
//  %article
//
//    .TODO yes of course, nothing's perfect.
//    .TODO somebody could *disrupt* the election by messing with the data.  it would be evident when people check the data that it's bad.  so the election data might need to be thrown out.  so there's a risk of getting *no* results.  but no risk of getting the *wrong* results.
//
//    .TODO as always, care needs to be taken to maintain voter secrecy and privacy.
