---
title: Clear Elections
body_class: what
---
#Header
  .contents
    .banner
      .check
      .title Clear Elections
      .subtitle The clear way to run elections
    %section#slogans
      %div Simple.
      %div Verifiable.
      %div 
        .opendata-logo
      //%div The results speak for themselves
      //%div Impossible to rig
#HeaderTopBar.sticky
  %nav.top-bar{data: {topbar: true},role: 'navigation'}
    %a.button.round{href: "#what"} What's a Clear Election?
    %a.button.round{href: "#hold"} How can I hold a Clear Election?
    %a.button.round{href: "#technical"} Technical Details
    %a.button.round{href: "#faq"} FAQ
    .tab-down-arrow.right-side
    .tab-down-arrow.left-side

#MainContents
  %section#what
  %section#hold
  %section#technical
  %section#faq
