---
title: Clear Elections
body_class: index
---
#Header
  .contents
    .check
    .title Clear Elections
    .subtitle The clear way to run elections
    %section#slogans
      %div Simple.
      %div Verifiable.
      %div 
        .opendata-logo
      //%div The results speak for themselves
      //%div Impossible to rig
#HeaderTopBar.sticky
  %nav.top-bar{data: {topbar: true},role: 'navigation'}
    %a How does it work?
    %a Why can't it be rigged?
    %a What's the catch?
#MainContents
  %section#who-counts
  %section#how-does-it-work
  %section#how-does-it-work2
  %section#how-does-it-work3
  %section#how-does-it-work4
  %section#how-does-it-work5
