---
title: Clear Elections
body_class: index
---
%header
  .contents
    .check
    .title Clear Elections
    .subtitle The sensible way to run elections
    %section#slogans
      %div
        .opendata-logo
      %div The results speak for themselves
      %div Impossible to rig
    %nav
      %a How does it work?
      %a Why can't it be rigged?
      %a What's the catch?
      %a Why doesn't everybody do this?
%section#MainContents
  %section#who-counts
  %hr
  %section#how-does-it-work
